version: '3.8'

services:
  zookeeper:
    image: bitnami/zookeeper:3.8
    container_name: awesome-stream-processing-zookeeper-1
    ports:
      - "2181:2181"
    environment:
      ALLOW_ANONYMOUS_LOGIN: yes

  kafka:
    image: bitnami/kafka:3.4.0-debian-11-r0
    container_name: awesome-stream-processing-kafka-1
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      ALLOW_PLAINTEXT_LISTENER: yes
    depends_on:
      - zookeeper

  risingwave:
    image: ghcr.io/risingwavelabs/risingwave:latest
    container_name: awesome-stream-processing-risingwave-1
    ports:
      - "4567:4567"
      - "5691:5691"
    depends_on:
      - kafka
      - zookeeper

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data
